<div class="my-container imagePath" style="background-image: url('{{imagePath}}');">  
  <div class="card text-white bg-primary m-5" >
    <div class="card-header text-center">
      <h2>{{city}}</h2>
      <p><img src="{{iconURL}}" alt="{{summary}}"></p>
  </div>
    <div class="card-body">
      <p class="card-text">Summary: {{summary}}</p>
      <p class="card-text">Temperature: {{temperature}} °{{units=='metric' ? 'C' : 'F'}}</p>
      <p class="card-text">Feels like: {{feelsLikeTemp}} °{{units=='metric' ? 'C' : 'F'}}</p>
      <p class="card-text">Pressure: {{pressure}} hPa</p>
      <p class="card-text">Humidity: {{humidity}} %</p>
    </div>
  </div>
</div>